.login {
  max-width: 480px;
  margin: 0 auto;
  padding-top: 15vh;
}

.login__title {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.login__error {
  display: block;
  padding: 8px 16px 0;
  color: var(--tgui--destructive_text_color);
}

.login__actions {
  padding: 16px;
}

.login__hint {
  display: block;
  padding: 0 16px;
  text-align: center;
  color: var(--tgui--hint_color);
  font-size: 14px;
}
