.root__loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root {
  padding: var(--tg-content-safe-area-inset-top) var(--tg-content-safe-area-inset-right) calc(var(--tg-content-safe-area-inset-bottom) + 80px) var(--tg-content-safe-area-inset-left);
}